html {
    font-size: 62.5%;
}

body {
    letter-spacing: 0.05em;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-feature-settings: "palt"1;
    line-height: 1.5;
}

@font-face {
    font-family: "din 1451alt";
    src: url("../fonts/DIN1451ALT.woff2") format("woff2"),
}

@font-face {
    font-family: "din 1451alt g";
    src: url("../fonts/DIN1451ALT G.woff2") format("woff2"),
}

h1 {
    font-family: "din 1451alt";
}

.container {
    font-size: 1.6rem;
    max-width: 117rem;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    text-align: center;
}

section {
    overflow: auto;
}

.heading h1 {
    font-size: 5.2rem;
    border-bottom: inset 1px black;
}

#loading {

    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 999;
    transition: .5s;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}