html{
    font-size:62.5%;
}

.container{
    font-size: 1.6rem;
    max-width: 117rem;
    width: 100%;
    padding: 0 1.5rem;
    margin:0 auto;
    text-align: center;
}

section{
    overflow: auto;
}

.heading h1{
    font-size: 5.2rem;
    border-bottom: inset 1px black;
}