@media screen and (max-width:1000px){

    .container{
        height: auto;
        max-width: 72rem;
        h1{
            font-size: 3.2rem;
        }
        h2{
            font-size: 2.4rem;
        }
    }

    /* nav */
    nav{
        .container{
            .custom-logo-link{
                    display: flex;
                    align-items: center;
                .custom-logo{
                    height: 4rem;
                }
            }
            .menu{
                a{
                    font-size: 2.4rem;
                    width: 12rem;
                }
            }
        }
    }
    

    /* top */
    #top-wrapper{
        .container{
            .heading{
                h1{
                    
                }
                p{
                    font-size: 2.4rem;
                }
            }
        }
    }

    #about-wrapper{
        height: auto;
        .container{
            .about-main{
                
                flex-direction: column;
                font-size: 1.6rem;

                .wp-image-16{
                    width:16rem;
                }
                #about-grid{
                    grid-template-columns: 68rem;
                    margin: auto;
                    .skills .wp-block-group__inner-container{
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 10rem 10rem;
                    }
                }
            }
            
        }
    }

    #works-wrapper{
        height: auto;
        .container{
            .slider{
                figcaption{
                    text-align: left;
                }
                margin-top: 1rem;
            }
        }
    }

    /* contact */
    #contact-wrapper{
        .container{
            form{
                p{
                    label{
                        width:50rem;
                        span{
                            width: 50rem;
                        }
                        input, textarea{
                            width: 50rem;
                        }
                    }
                }
            }
        }
    }
    
}