@media screen and (max-width: 720px) {
    @import "hamburger-btn";

    .container {
        height: auto;
        max-width: 32rem;

        h1 {
            font-size: 2.4rem;
        }

        h2 {
            font-size: 1.6rem;
        }
    }

    nav {
        background-color: transparent;
        height: 0;
        margin-top: 0;

        .container {

            .custom-logo {
                display: none;
            }

            .menu {
                display: none;
            }

            .sp {
                display: block;

                .hamburger_btn {
                    @include hamburger-btn($main-color, white);
                }

                @include hamburger-sidebar;
            }
        }
    }

    #top-wrapper {
        padding-top: 0;

        .container {
            .heading {
                h1 {}

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #about-wrapper {
        height: auto;

        .container {
            .about-main {

                flex-direction: column;
                font-size: 1.6rem;

                .wp-image-16 {
                    width: 16rem;
                }

                #about-grid {
                    grid-template-columns: 28rem;
                    margin: auto;

                    .skills .wp-block-group__inner-container {
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 10rem 10rem 10rem 10rem;

                        img {
                            transform: scale(.75, .75);
                        }
                    }
                }
            }

        }
    }

    #works-wrapper {
        height: auto;
        // height:100vh;
        min-height: 100vh;

        .container {
            .slider {
                figcaption {
                    text-align: left;
                }

                margin-top: 1rem;

                .wp-block-group__inner-container {
                    display: grid;
                    grid-template-rows: 3rem 3rem 30rem;
                }
            }

        }
    }

    /* contact */
    #contact-wrapper {
        height: auto;

        .container {
            width: 30rem;

            form {
                p {
                    width: 30rem;

                    label {
                        width: 30rem;

                        .wpcf7-form-control-wrap {

                            input,
                            textarea {
                                width: 30rem;
                            }
                        }
                    }
                }
            }
        }
    }

}