@charset "UTF-8";

// @import "scroll-snap";

html{
    font-size:62.5%;
}

.container{
    font-size: 1.6rem;
    max-width: 117rem;
    width: 100%;
    padding: 0 1.5rem;
    margin:0 auto;
    text-align: center;
}

.heading h1{
    font-size: 5.2rem;
    border-bottom: inset 1px black;
}

/* nav */
nav{
    margin-top: -8rem;
    background-color:#020025;
    height:8rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    .container{
        display: flex;
        
        .custom-logo-link{
            max-height: 8rem;
            width: auto;
            margin-right:auto;
        }
        
        .menu{
            display: flex;
            a{
                display: block;
                line-height: 8rem;
                width:15rem;
                padding:0 1rem;
                font-size: 2.4rem;
                color: white;
                text-decoration: none;
                &:hover{
                    background-color: gray;
                    opacity: 0.8;
                }
            }
        }
    }
}

/* top */
#top-wrapper{
    padding-top: 8rem;
    height: 100vh;
    img{
        position: absolute;
        top:0;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .container{

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .heading{
            display: flex;
            flex-direction: column;
            h1{
                border-bottom: inset 1px white;
                color: white;
            }
            p{
                font-size: 3rem;
                color:white;
                padding-top: 1rem;
                opacity: .7;
            }
        }
        
    }
}



/* about */
#about-wrapper{
    background-color: #efefefff;
    height: 100vh;
    .container{
        .about-main{
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-align: left;
            #about-grid{
                margin-left: 4rem;
                display: grid;
                grid-template-columns: 8rem 1fr;
                grid-gap: 1.6rem 0;
            }
        }
    }
}


/* works */
#works-wrapper{
    background-color:#1d809fff;
    height: 100vh;
    .container{
        .heading{
            border-bottom: inset 1px white;
            color: white;
        }
        .slider{
            padding: 4rem 0;
        }
        .works-contents{
            margin: 4rem auto;
            height: 40rem;
            display: flex;
            align-items: center;
            .works-item{
                a, p{
                    color: white;
                }
                img{
                    width: 40rem;
                    height: 30rem;
                }
            }
        }
    }
}

/* contact */
#contact-wrapper{
    height: 100vh;

    .container{
        form{
            margin: 4rem 0;
            p{
                label{
                    text-align: left;
                    span{
                        display:inline-block;
                        width:40rem;
                    }
                    input, textarea{
                        border: 1px solid black;
                        width:40rem;
                    }
                    textarea{
                        resize: none;
                    }
                }
            }
        }

    }
}

#scroll-to-top{
    a{
        display: block;
        text-align: center;
        width:5rem;
        height: 5rem;
        border-radius: 50%;
        font-size: 3.2rem;
        position:fixed;
        bottom: 2rem;
        right: 2rem;
        text-decoration: none;
        background-color: blue;
        &:hover{
            background-color: lighten(blue, 10%);
            
            display: block;
            filter: drop-shadow( 0 0 .5rem rgba(0,0,0,.5));
            transition: .2s;
        }
        &:active{
            background-color: blue;
        }
    }
    .fas{
        color:white;
        line-height: 5rem;
    }
}

.fade-in{
    animation: fadeIn .5s ease forwards;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.fade-out{
    animation: fadeOut .5s ease forwards;
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100%{opacity: 0;}
}
