@charset "UTF-8";

.container{
    max-width: 117rem;
    width: 100%;
    padding: 0 1.5rem;
    margin:0 auto;
    text-align: center;
}

/* nav */
nav{
    background-color:black;
    opacity: 0.8;
    height:8rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav .container{
    display: flex;
}

.menu{
    display: flex;
}
.menu p{
    line-height: 8rem;
    width:15rem;
    padding:0 1rem;
    font-size: 2.4rem;
    color: white;
}

.menu p:hover{
    background-color: gray;
    opacity: 0.8;
}

.logo{
    margin-right: auto;
    height:8rem;
}
.logo img{
    height: 100%;
}

/* top */
#top-wrapper{
    /* top image */
    height: 100vh;
    padding: 20% 0;
    background-image: url('./assets/top.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
#top-wrapper::before{
    /* top filter */
    content: '';
    position: absolute;
    top:0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    background:inherit;
    filter: brightness(.5);
    z-index: -1;
}

#top-wrapper h1{
    font-size: 5.2rem;    
    color: white;
    border-bottom: inset 1px white;
}

#top-wrapper p{
    font-size: 3rem;
    color:white;
    padding-top: 1rem;
    opacity: .7;
}

.top-message{
    display: flex;
    flex-direction: column;
}

/* about */
#about-wrapper{
    height: 30rem;
    
}

#skills-wrapper{
    height: 30rem;
    background-color: gray;
}

#portfolio-wrapper{
    height: 30rem;
}